html{
    background-color: rgb(241, 232, 221);
}
/*header = homepage pic and links , h1 = Menu , h3 = drinks , nav =  all pics and links , div = drink types*/
header,h1,h2,h3,nav,div, .drink article{
    text-align: center; 
    margin: auto;
}

h1{
    font-weight: bold;
    font-size: 3em;
    color: rgb(3, 153, 153);
    border: 12px dotted rgb(123, 209, 238);
    max-width: 600px;
}

h2,h3{
    font-weight: bold;
    margin:2em;
}

/*"Located in Lakewood" - homepage*/
#located{
    font-weight: bold;
    font-style: italic;
    color: rgb(27, 27, 136);
    font-size: 1.5rem;
}
/*homepage image*/
#restpic img{
    transform: scale(1.3);
    border-radius: 10px;
}
/*change page*/
nav{
    font-size: 1.2em;
}


/*Menu images*/
.menuitem nav img, .menuitem nav a img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 1em;

}


/*Menu Abouts*/
.menuitem article{
    font-style: italic;
    font-size: 1.2em;
    
    text-transform: capitalize;
    transform: translate(-21em, -1em)
    
}
article{
  margin-left: -3em;
}
#homepage{
    margin-bottom: 3em;
    margin-top: -14em;
}

/*drinks images*/
.drink img{
    width: 150px;
}


a{
    text-decoration: none;
}
a:link{
    color:rgb(0, 140, 255);
}
a:visited{
     color:rgb(0, 100, 100);
}
 a:hover{
    font-size: 2em;
}
.menuitem nav a:hover img{
    width: 375px;
}

#fork,#knife{

    max-width:526px;
    margin: auto;
}
 .images #fork img{

    margin-bottom: -14.5em;
    margin-right: 500px;
    transform: scale(.9);
}

 .images #knife img{
    transform: scale(.28);
    margin-left: 28em;
    margin-top: -33em;
}
#copyright{
    text-align: left;
    margin-top: 3em;
    font-size: 15px;
    text-shadow: 2px -1px 1px cyan;
}
.spoonL{
    list-style-image:url("/Images/spoon.png")
}

.spoonL li{
    
    margin-left: 4em;
    transform: translate(5px, 120px);
}
.price{
    border: 1px solid rgb(0, 255, 0);
    max-width: 300px;
    border-radius: 3em;
}