/*header = homepage pic and links , h1 = Menu , h3 = drinks , nav =  all pics and links , div = drink types*/
header,h1,h2,h3,nav,div, .drink article{
    text-align: center; 
    margin: auto;
}
html {
    background: linear-gradient(180deg, rgba(241, 232, 221, 1) 25%, rgba(173, 255, 255, 1) 100%);
    background-repeat: no-repeat;
}
h1{
    margin-top: 1em;
    font-weight: bold;
    font-size: 3em;
    color: rgb(3, 153, 153);
    border: 12px dotted rgb(123, 209, 238);
    max-width: 600px;
    font-family: 'Caveat', cursive;
}


h2,h3{
    font-weight: bold;
    margin:2em;
}


/*change page*/
nav{
    font-size: 1.2em;
}

/*Menu images*/
.menuitem nav img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 1em;
}


/*Menu Abouts*/
.menuitem article{
    font-style: italic;
    font-size: 1em;
    text-transform: capitalize;

}
article{  
    box-sizing: border-box;
    margin: 2em;
}


/*drinks images*/
.drink img{
    width: 150px;
    height: 150px;
    text-align: center;
}
#return-to-top a{
    position: fixed;
    top: 0;
    right: 0;
    margin: 2em;
}
#return-to-homepage{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
}
a{
    text-decoration: none;
}
a:link{
    color:rgb(0, 140, 255);
}
a:visited{
     color:rgb(0, 100, 100);
}

.images{
   width: 90%;
}

#copyright{
    margin-top: 3em;
    font-size: 15px;
    text-shadow: 2px -1px 1px cyan;
    text-align: justify;
}
.spoonL{
    list-style-type: none;
}

.price{
    border: 1px solid rgb(0, 255, 0);
    max-width: 50%;
    border-radius: 3em;
}
div ul li {
    font-size: 1em;
    border: 3px dashed red;
    width: 100px;
    margin-bottom: .5em;
    list-style-type:none;

}
#return-to-top a:hover,#return-to-homepage a,  div ul li a:hover{
    transition: none;
    font-size: 1em;
}
#return-to-homepage , #return-to-top{
    display: none;
}

@media screen and (min-width:800px){
    .menuitem{
        margin-top: -2em;
    }
    
    /*Menu Abouts*/
    .menuitem article{
        font-size: 1.2em;
        transform: translate(3em, -1em)
    
    }
    article{  
        width:20%;
        box-sizing: border-box;
        margin-left: -3em;
    }
    
    
    #return-to-top{
        display: inline;
    }
    #return-to-homepage{
        display: inline;
    }
    
     a:hover{
        font-size: 2em;
        transition: 5s;
    }
    
    .spoonL{
        list-style-image:url("/Images/spoon.png")
    }
    
    .spoonL li{
        margin-left: 4em;
        transform: translate(5px, 120px);
    }
    .price{
        max-width: 300px;
    }
    
    #drinks{
        display: flex;
        font-size: 1.2em;
        text-decoration: underline;
        justify-content: space-around;
        }
    .drink:last-child {
        margin-top: 0;
        }
    .drink img{
        margin-top: 1em;
        }
    .drink article{
        width: 100%;
    }
    .drink{
        margin: 0;
    }
    
    #end-of-page{
        padding: 1em;
        }
    }