html{
    background-color: rgb(241, 232, 221);

}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(7, 124, 124);
}

h2{
    font-weight: bold;
    text-align: center;
}


/*"Located in Lakewood" - homepage*/
p{
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

/*change page*/
nav{
    font-size: 1.5rem;
}

/*Menu images*/
nav img {
    width: 275px;
    border-radius: 10px;
}

/*homepage image*/
header img{
    width: 500px;
    border-radius: 10px;
}

/*Menu Abouts*/
article{
    font-style: italic;
    font-size: 1.2rem;
}

/*header = homepage pic and links , h3 = drinks , nav =  all pics and links , div = drink types*/
header,h3,nav,div{
    text-align: center;
}

/*drinks images*/
div img{
    width: 4em;
}